.tabsContainer {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 1rem;
}

.tabsList {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(197, 197, 197);
  padding: 0.5rem;
  background: #ffffff;
  font-family: sans-serif;
}

.tabTrigger {
  background: none;
  color: #333;
  font-size: 0.875rem;
  margin-right: 0.2rem;
  font-weight: 700;
  border-radius: 0px;
}

.tabTrigger:hover {
  background: none;
}

.tabTrigger[data-state="active"] {
  color: #000; /* Change active tab text to black */
  font-weight: bold;
}

.tabTrigger[data-state="active"] {
  border-bottom: 2px solid blue;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:horizontal {
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:horizontal {
  background: gray;
}
