.heatmapWrapper {
  width: 100%;
  overflow-x: auto;
}

.react-heatmap-grid .cell {
  border-radius: 5px;
}

.wrapper {
  background-color: #ffffff;
  padding: 1rem;
  margin: 2rem 0rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow-1);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.labelsContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 250px;
  word-wrap: break-word;
}

.labelItem {
  margin-bottom: 0;
  font-size: 18px;
  white-space: normal;
  text-align: left;
  padding: 0 0;
  line-height: 1;
  text-align: justify;
}

.chartContainer {
  flex: 1;
  min-width: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.chartBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.labelItem {
  margin-top: 5px;
  font-weight: normal;
  text-align: justify;
  max-width: 90%;
  word-wrap: break-word;
}

/* Ensure proper alignment on mobile screens */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .chartBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .labelItem {
    text-align: center;
    margin-top: 10px;
  }
}