.studyContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: 1.5rem;
  gap: 0.5rem;
  cursor: pointer;
}

.studyContainer:hover {
  background-color: #ffffffc4;
}

.studiesHeader {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}
.studyOptions {
  /* border: 2px solid blue; */
  padding: 0.5rem;
}

.studyOptionsIcon {
  font-size: 1.5rem;
}

.studyOptionsModal {
  /* border: 2px solid red; */
  position: absolute;
  right: 0;
  top: 40%;
}

.studyStatus {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 2px solid red; */
}

.studySeo {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  gap: 1rem;
}

.studyTags {
  display: flex;
  gap: 0.5rem;
}
