.sidebarContainer {
  background-color: var(--dark-primary);
  color: #ffffff;
  height: 100vh;
  width: 160px;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: fixed;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarOpen {
  width: 160px;
}

.sidebarClosed {
  width: 60px;
}

.collapsedText {
  display: none;
}

.sidebarContent {
  /* border: 2px solid green; */
  height: 80vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTab {
  display: flex;
  align-items: center;
  /* border: 1px solid pink; */
  padding: 0.5rem;
  justify-content: space-between;
  gap: 0.75rem;
  color: #ffffff;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.sidebarTabCollapsed {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  /* border: 2px solid red; */
}

.sidebarTab:hover,
.sidebarLink:hover {
  background-color: #e6e6e6;
  border-radius: 8px;
  color: #000000;
}

.sidebarLink {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.sidebarTop {
  margin-top: 1rem;
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
