@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700; /* Supports weight range */
  font-style: normal;
}

:root {
  /* fonts */
  --primary-font: "Space Grotesk";

  /* Colors */
  --dark-primary: #11112b;
  --white-primary: #ffffff;
  --neon-gradient: linear-gradient(
    360deg,
    rgba(0, 67, 158, 0.8),
    rgba(3, 255, 255, 1)
  );

  /* Shadows */
  --box-shadow-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background: #efefef;
  font-family: "Space Grotesk", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  gap: 0.5rem;
  color: #000000;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  background: #ffffff;
}

button:hover {
  cursor: pointer;
  background: rgb(36, 106, 204);
}

.global-border {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
}

.activeButton,
.activeButton:hover {
  background-color: black;
  color: #ffffff;
}

.activeToggle,
.activeToggle:hover,
.filterButton:hover {
  background: #ffffff;
  border-radius: 0px;
}

.badge {
  background-color: #e3e3e3;
  /* display: inline; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
  padding: 0.2rem 1rem;
  border-radius: 16px;
  font-weight: 500;
  font-size: 0.9rem;
}

/* Glows */
.gradient-text {
  font-family: var(--primary-font), sans-serif;
  /* font-size: 4rem; */
  background: var(--neon-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: neonPulse 2s infinite alternate;
}

@keyframes neonPulse {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Fonts and Typography */
h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

/* Buttons */

button {
  font-family: var(--primary-font);
}

button:hover {
  background-color: #ffffff;
}

.buttonIcon {
  padding: 0.75rem;
  border: 1px solid #cac9c9;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
  /* flex-shrink: 0; */
}
.buttonIcon:hover {
  background-color: #ffffff8c;
}

/* Logos */
.logo {
  width: 120px;
}

/* Toast */
.Toastify__toast-container {
  width: auto !important;
  max-width: 100% !important;
}

/* Ensure it always appears on top */
.Toastify__toast {
  z-index: 9999 !important;
}

/* .apexcharts-yaxis-label {
  text-anchor: end !important; 
  text-align: left;
  font-size: clamp(0.5rem, 1vw, 2.5rem);
} */
